@model ExamenFinal.Models.VentaModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>VentaModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FK_Cliente_Venta.NombreCliente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FK_Cliente_Venta.NombreCliente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FK_Producto_Venta.NombreProducto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FK_Producto_Venta.NombreProducto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cantidad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaVenta)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CodigoVenta }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
